openapi: 3.0.0
info:
  title: Dify API
  description: |
    Dify API provides a series of interfaces for text generation, conversation, and workflow functionality.
    It supports text generation applications, conversational applications, workflow applications, and advanced conversational applications.
    All API requests require an application-level API-Key in the Authorization HTTP Header.
  version: 1.2.0
servers:
  - url: 'https://api.dify.ai/v1'
    description: Dify API Server
  - url: '{api_url}'
    variables:
      api_url:
        default: 'https://api.dify.ai/v1'
        description: Custom API server URL
  - url: 'http://ai.urchinet.lan/v1'
    description: author of dify-openapi dev server
security:
  - bearerApiKeyAuth: []
components:
  securitySchemes:
    bearerApiKeyAuth:
      type: http
      scheme: bearer
  responses:
    Error400:
      description: Request error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Error401:
      description: Non authorized or authentication failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Error404:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Error500:
      description: Server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
          description: Error code
        status:
          type: integer
          description: HTTP status code
        message:
          type: string
          description: Error message description
      required:
        - code
        - status
        - message
    Usage:
      type: object
      properties:
        prompt_tokens:
          type: integer
          description: Number of tokens used for prompts
        completion_tokens:
          type: integer
          description: Number of tokens used for completion
        total_tokens:
          type: integer
          description: Total number of tokens used
        prompt_unit_price:
          type: string
          description: Unit price for prompts
        prompt_price_unit:
          type: string
          description: Price unit for prompts
        prompt_price:
          type: string
          description: Total price for prompts
        completion_unit_price:
          type: string
          description: Unit price for completion
        completion_price_unit:
          type: string
          description: Price unit for completion
        completion_price:
          type: string
          description: Total price for completion
        total_price:
          type: string
          description: Total price
        currency:
          type: string
          description: Currency unit
        latency:
          type: number
          description: Latency time
    RetrieverResource:
      type: object
      properties:
        position:
          type: integer
          description: Position
        dataset_id:
          type: string
          description: Dataset ID
        dataset_name:
          type: string
          description: Dataset name
        document_id:
          type: string
          description: Document ID
        document_name:
          type: string
          description: Document name
        segment_id:
          type: string
          description: Segment ID
        score:
          type: number
          description: Relevance score
        content:
          type: string
          description: Content
    BaseMessage:
      type: object
      properties:
        message_id:
          type: string
          description: Unique message ID
        created_at:
          type: integer
          description: Message creation timestamp
        metadata:
          type: object
          properties:
            usage:
              $ref: '#/components/schemas/Usage'
            retriever_resources:
              type: array
              items:
                $ref: '#/components/schemas/RetrieverResource'
    CompletionMessage:
      allOf:
        - $ref: '#/components/schemas/BaseMessage'
        - type: object
          properties:
            mode:
              type: string
              description: 'App mode, fixed as completion'
            answer:
              type: string
              description: Complete response content
    ChatMessage:
      allOf:
        - $ref: '#/components/schemas/BaseMessage'
        - type: object
          properties:
            conversation_id:
              type: string
              description: Conversation ID
            mode:
              type: string
              description: 'App mode, fixed as chat'
            answer:
              type: string
              description: Complete response content
    WorkflowMessage:
      type: object
      properties:
        workflow_run_id:
          type: string
          description: Workflow execution ID
        task_id:
          type: string
          description: Task ID
        data:
          type: object
          properties:
            id:
              type: string
              description: Workflow execution ID
            workflow_id:
              type: string
              description: Associated Workflow ID
            status:
              type: string
              enum:
                - running
                - succeeded
                - failed
                - stopped
              description: Execution status
            outputs:
              type: object
              description: Output content
            error:
              type: string
              description: Error reason
            elapsed_time:
              type: number
              description: Elapsed time (s)
            total_tokens:
              type: integer
              description: Total tokens used
            total_steps:
              type: integer
              description: Total steps
            created_at:
              type: integer
              description: Start time
            finished_at:
              type: integer
              description: End time
    StreamEvent:
      type: object
      properties:
        event:
          type: string
          enum:
            - message
            - message_end
            - tts_message
            - tts_message_end
            - message_replace
            - error
            - ping
            - workflow_started
            - node_started
            - node_finished
            - workflow_finished
            - agent_message
            - agent_thought
            - message_file
          description: Event type
        task_id:
          type: string
          description: Task ID
        message_id:
          type: string
          description: Unique message ID
        conversation_id:
          type: string
          description: Conversation ID
        workflow_run_id:
          type: string
          description: Workflow execution ID
        answer:
          type: string
          description: Response content
        audio:
          type: string
          description: Voice synthesis audio data (base64 encoded)
        data:
          type: object
          description: Event related data
        metadata:
          type: object
          properties:
            usage:
              $ref: '#/components/schemas/Usage'
            retriever_resources:
              type: array
              items:
                $ref: '#/components/schemas/RetrieverResource'
        created_at:
          type: integer
          description: Creation timestamp
    UploadedFile:
      type: object
      properties:
        id:
          type: string
          description: File ID
        name:
          type: string
          description: File name
        size:
          type: integer
          description: File size (bytes)
        extension:
          type: string
          description: File extension
        mime_type:
          type: string
          description: File mime-type
        created_by:
          type: string
          description: Uploader ID
        created_at:
          type: integer
          description: Upload time
    Conversation:
      type: object
      properties:
        id:
          type: string
          description: Conversation ID
        name:
          type: string
          description: Conversation name
        inputs:
          type: object
          description: User input parameters
        status:
          type: string
          description: Conversation status
        introduction:
          type: string
          description: Opening statement
        created_at:
          type: integer
          description: Creation time
        updated_at:
          type: integer
          description: Update time
    FileInput:
      type: object
      properties:
        type:
          type: string
          enum:
            - document
            - image
            - audio
            - video
            - custom
          description: File type
        transfer_method:
          type: string
          enum:
            - remote_url
            - local_file
          description: Transfer method
        url:
          type: string
          description: Remote URL
        upload_file_id:
          type: string
          description: Upload file ID
paths:
  /completion-messages:
    post:
      summary: Send Message (Text Generation App)
      description: Send request to text generation application
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - inputs
              properties:
                inputs:
                  type: object
                  properties:
                    query:
                      type: string
                      description: User input text content
                  required:
                    - query
                response_mode:
                  type: string
                  enum:
                    - streaming
                    - blocking
                  description: |
                    Response mode:
                    - streaming: Streaming mode (recommended), implements typewriter-like output based on SSE
                    - blocking: Blocking mode, returns result after execution is complete
                user:
                  type: string
                  description: User identifier
                files:
                  type: array
                  items:
                    $ref: '#/components/schemas/FileInput'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletionMessage'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/StreamEvent'
        '400':
          $ref: '#/components/responses/Error400'
        '404':
          $ref: '#/components/responses/Error404'
        '500':
          $ref: '#/components/responses/Error500'
  /chat-messages:
    post:
      summary: Send Chat Message (Conversational App)
      description: Create conversation message
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: User input/question content
                inputs:
                  type: object
                  description: 'Allows passing values for variables defined by the App. The inputs parameter contains multiple key/value pairs, where each key corresponds to a specific variable and each value is the value for that variable. Variables can be file list type. If the variable is a file list type, the corresponding value should be in list format, with each element containing the following: type, transfer_method, etc.'
                response_mode:
                  type: string
                  enum:
                    - streaming
                    - blocking
                  description: |
                    Response mode:
                    - streaming: Streaming mode (recommended), implements typewriter-like output based on SSE
                    - blocking: Blocking mode, returns result after execution is complete
                user:
                  type: string
                  description: User identifier
                conversation_id:
                  type: string
                  description: Conversation ID
                files:
                  type: array
                  items:
                    $ref: '#/components/schemas/FileInput'
                auto_generate_name:
                  type: boolean
                  description: Whether to automatically generate title
                  default: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessage'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/StreamEvent'
        '400':
          $ref: '#/components/responses/Error400'
        '404':
          $ref: '#/components/responses/Error404'
        '500':
          $ref: '#/components/responses/Error500'
  /workflows/run:
    post:
      summary: Execute Workflow
      description: Execute a workflow. Cannot be executed if there is no published workflow.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - inputs
                - response_mode
                - user
              properties:
                inputs:
                  type: object
                  description: Workflow input parameters
                response_mode:
                  type: string
                  enum:
                    - streaming
                    - blocking
                  description: Response mode
                user:
                  type: string
                  description: User identifier
                files:
                  type: array
                  items:
                    $ref: '#/components/schemas/FileInput'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowMessage'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/StreamEvent'
        '400':
          $ref: '#/components/responses/Error400'
        '404':
          $ref: '#/components/responses/Error404'
        '500':
          $ref: '#/components/responses/Error500'
  /files/upload:
    post:
      summary: Upload File
      description: |
        Upload files for use when sending messages.
        Supported file types depend on application type and configuration.
        Uploaded files are only available to the current end user.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: File to upload
                user:
                  type: string
                  description: User identifier
              required:
                - file
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedFile'
        '400':
          $ref: '#/components/responses/Error400'
        '413':
          description: File too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '415':
          description: Unsupported file type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Storage service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /conversations:
    get:
      summary: Get Conversation List
      description: Get conversation list for current user
      parameters:
        - name: user
          in: query
          required: true
          schema:
            type: string
          description: User identifier
        - name: last_id
          in: query
          schema:
            type: string
          description: ID of the last record on current page
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
          description: Records per page
        - name: sort_by
          in: query
          schema:
            type: string
            enum:
              - created_at
              - '-created_at'
              - updated_at
              - '-updated_at'
            default: '-updated_at'
          description: Sort field
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Conversation'
                  has_more:
                    type: boolean
                  limit:
                    type: integer
  '/conversations/{conversation_id}':
    delete:
      summary: Delete Conversation
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
          description: Conversation ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user
              properties:
                user:
                  type: string
                  description: User identifier
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    enum:
                      - success
  '/conversations/{conversation_id}/name':
    post:
      summary: Rename Conversation
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user
              properties:
                name:
                  type: string
                  description: New name
                auto_generate:
                  type: boolean
                  default: false
                  description: Whether to automatically generate
                user:
                  type: string
                  description: User identifier
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
  /messages:
    get:
      summary: Get Conversation History Messages
      parameters:
        - name: conversation_id
          in: query
          required: true
          schema:
            type: string
          description: Conversation ID
        - name: user
          in: query
          required: true
          schema:
            type: string
          description: User identifier
        - name: first_id
          in: query
          schema:
            type: string
          description: First message ID
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
          description: Limit
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChatMessage'
                  has_more:
                    type: boolean
                  limit:
                    type: integer
  '/messages/{message_id}/feedbacks':
    post:
      summary: Message Feedback
      parameters:
        - name: message_id
          in: path
          required: true
          schema:
            type: string
          description: Message ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - rating
                - user
              properties:
                rating:
                  type: string
                  enum:
                    - like
                    - dislike
                    - null
                  description: Feedback type
                user:
                  type: string
                  description: User identifier
                content:
                  type: string
                  description: Feedback content
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    enum:
                      - success
  '/messages/{message_id}/suggested':
    get:
      summary: Get Suggested Questions
      description: Get suggested questions for the next round
      parameters:
        - name: message_id
          in: path
          description: Message ID
          required: true
          schema:
            type: string
        - name: user
          in: query
          description: 'User identifier, defined by the developer, must be unique within the application'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved suggested questions
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Fixed return value 'success'
                  data:
                    type: array
                    description: List of suggested questions
                    items:
                      type: string
  /audio-to-text:
    post:
      summary: Audio to Text
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Audio file
                  maxLength: 15728640
                user:
                  type: string
                  description: User identifier
                  example: user123
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
                    description: Converted text
  /text-to-audio:
    post:
      summary: Text to Audio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message_id:
                  type: string
                  description: Message ID
                text:
                  type: string
                  description: Text to convert
                user:
                  type: string
                  description: User identifier
      responses:
        '200':
          description: Successful response
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
  /info:
    get:
      summary: Get Application Basic Information
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: Application name
                  description:
                    type: string
                    description: Application description
                  tags:
                    type: array
                    items:
                      type: string
                    description: Application tags
  /parameters:
    get:
      summary: Get Application Parameters
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  opening_statement:
                    type: string
                    description: Opening statement
                  suggested_questions:
                    type: array
                    items:
                      type: string
                    description: List of suggested opening questions
                  suggested_questions_after_answer:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                    description: Settings for suggested questions after answer
                  speech_to_text:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                    description: Audio to text settings
                  retriever_resource:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                    description: Citation and attribution settings
                  annotation_reply:
                    type: object
                    description: Annotation reply settings
                    properties:
                      enabled:
                        type: boolean
                        description: Whether annotation reply is enabled
                      score_threshold:
                        type: number
                        description: Similarity score threshold
                      embedding_model:
                        type: string
                        description: Embedding model
                      embedding_model_provider:
                        type: string
                        description: Embedding model provider
                  user_input_form:
                    type: array
                    items:
                      type: object
                    description: User input form configuration
                  file_upload:
                    type: object
                    description: File upload configuration
                  system_parameters:
                    type: object
                    description: System parameters
  /meta:
    get:
      summary: Get App Meta Information
      description: Used to get tool icons
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  tool_icons:
                    type: object
                    description: Tool icons
                    additionalProperties:
                      oneOf:
                        - type: object
                          properties:
                            background:
                              type: string
                              description: Background color in hex format
                            content:
                              type: string
                              description: Emoji
                        - type: string
                          description: Icon URL
  /apps/annotations:
    get:
      summary: Get Annotation List
      description: Get the list of annotations for the application
      parameters:
        - name: page
          in: query
          description: Page number
          required: false
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Items per page
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Successfully retrieved annotation list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Annotation ID
                        question:
                          type: string
                          description: Question
                        answer:
                          type: string
                          description: Answer
                        hit_count:
                          type: integer
                          description: Hit count
                        created_at:
                          type: integer
                          description: Creation timestamp
                  has_more:
                    type: boolean
                    description: Whether there is more data
                  limit:
                    type: integer
                    description: Items per page
                  total:
                    type: integer
                    description: Total record count
                  page:
                    type: integer
                    description: Current page number
    post:
      summary: Create Annotation
      description: Create a new annotation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - question
                - answer
              properties:
                question:
                  type: string
                  description: Question
                answer:
                  type: string
                  description: Answer
      responses:
        '200':
          description: Successfully created annotation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Annotation ID
                  question:
                    type: string
                    description: Question
                  answer:
                    type: string
                    description: Answer
                  hit_count:
                    type: integer
                    description: Hit count
                  created_at:
                    type: integer
                    description: Creation timestamp
  '/apps/annotations/{annotation_id}':
    put:
      summary: Update Annotation
      description: Update a specific annotation
      parameters:
        - name: annotation_id
          in: path
          description: Annotation ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - question
                - answer
              properties:
                question:
                  type: string
                  description: Question
                answer:
                  type: string
                  description: Answer
      responses:
        '200':
          description: Successfully updated annotation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Annotation ID
                  question:
                    type: string
                    description: Question
                  answer:
                    type: string
                    description: Answer
                  hit_count:
                    type: integer
                    description: Hit count
                  created_at:
                    type: integer
                    description: Creation timestamp
    delete:
      summary: Delete Annotation
      description: Delete a specific annotation
      parameters:
        - name: annotation_id
          in: path
          description: Annotation ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully deleted annotation
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    enum:
                      - success
  '/apps/annotation-reply/{action}':
    post:
      summary: Initialize Annotation Reply Settings
      description: Enable or disable annotation reply functionality
      parameters:
        - name: action
          in: path
          description: 'Action, can only be ''enable'' or ''disable'''
          required: true
          schema:
            type: string
            enum:
              - enable
              - disable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                embedding_model_provider:
                  type: string
                  description: 'Specified embedding model provider, must be configured in the system first, corresponds to the provider field'
                embedding_model:
                  type: string
                  description: 'Specified embedding model, corresponds to the model field'
                score_threshold:
                  type: number
                  description: 'Similarity score threshold, when similarity is greater than this threshold, the system will automatically reply, otherwise it will not reply'
      responses:
        '200':
          description: Successfully enabled or disabled annotation reply
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: Job ID
                  job_status:
                    type: string
                    description: Job status
  '/apps/annotation-reply/{action}/status/{job_id}':
    get:
      summary: Check Annotation Reply Settings Status
      description: Query the status of annotation reply initialization task
      parameters:
        - name: action
          in: path
          description: 'Action, can only be ''enable'' or ''disable'', and must be consistent with the action in the annotation reply initialization interface'
          required: true
          schema:
            type: string
            enum:
              - enable
              - disable
        - name: job_id
          in: path
          description: 'Job ID, returned from the annotation reply initialization interface'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved job status
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: Job ID
                  job_status:
                    type: string
                    description: Job status
                  error_msg:
                    type: string
                    description: Error message
  '/workflows/run/{workflow_run_id}':
    get:
      summary: Get Workflow Execution Status
      description: Get the current execution result of a workflow task based on the workflow execution ID
      parameters:
        - name: workflow_run_id
          in: path
          description: 'Workflow run ID, can be obtained from the streaming response chunks'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved workflow execution status
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Workflow execution ID
                  workflow_id:
                    type: string
                    description: Associated Workflow ID
                  status:
                    type: string
                    enum:
                      - running
                      - succeeded
                      - failed
                      - stopped
                    description: Execution status
                  inputs:
                    type: string
                    description: Task input content
                  outputs:
                    type: string
                    description: Task output content
                  error:
                    type: string
                    description: Error reason
                  total_steps:
                    type: integer
                    description: Total steps executed in the task
                  total_tokens:
                    type: integer
                    description: Total tokens used in the task
                  created_at:
                    type: integer
                    description: Task start time
                  finished_at:
                    type: integer
                    description: Task end time
                  elapsed_time:
                    type: number
                    format: float
                    description: Time elapsed (seconds)
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'
        '500':
          $ref: '#/components/responses/Error500'
  '/workflows/tasks/{task_id}/stop':
    post:
      summary: Stop Response
      description: Only supports streaming mode
      parameters:
        - name: task_id
          in: path
          description: 'Task ID, can be obtained from the streaming response chunks'
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user
              properties:
                user:
                  type: string
                  description: 'User identifier, must be consistent with the user passed in the message sending interface'
      responses:
        '200':
          description: Successfully stopped the response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Fixed return value 'success'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'
        '500':
          $ref: '#/components/responses/Error500'
  /workflows/logs:
    get:
      summary: Get Workflow Logs
      description: Return workflow logs in reverse order
      parameters:
        - name: keyword
          in: query
          description: Keyword
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: 'Execution status: succeeded/failed/stopped'
          required: false
          schema:
            type: string
            enum:
              - succeeded
              - failed
              - stopped
        - name: page
          in: query
          description: 'Current page number, default 1'
          required: false
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: 'Items per page, default 20'
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Successfully retrieved workflow logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    description: Current page number
                  limit:
                    type: integer
                    description: Items per page
                  total:
                    type: integer
                    description: Total number of records
                  has_more:
                    type: boolean
                    description: Whether there is more data
                  data:
                    type: array
                    description: Data for the current page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifier
                        workflow_run:
                          type: object
                          description: Workflow execution log
                          properties:
                            id:
                              type: string
                              description: Identifier
                            version:
                              type: string
                              description: Version
                            status:
                              type: string
                              enum:
                                - running
                                - succeeded
                                - failed
                                - stopped
                              description: Execution status
                            error:
                              type: string
                              description: Error
                            elapsed_time:
                              type: number
                              format: float
                              description: 'Time elapsed, in seconds'
                            total_tokens:
                              type: integer
                              description: Number of tokens consumed
                            total_steps:
                              type: integer
                              description: Number of execution steps
                            created_at:
                              type: integer
                              description: Start time
                            finished_at:
                              type: integer
                              description: End time
                        created_from:
                          type: string
                          description: Source
                        created_by_role:
                          type: string
                          description: Role
                        created_by_account:
                          type: string
                          description: Account
                        created_by_end_user:
                          type: object
                          description: User
                          properties:
                            id:
                              type: string
                              description: Identifier
                            type:
                              type: string
                              description: Type
                            is_anonymous:
                              type: boolean
                              description: Whether anonymous
                            session_id:
                              type: string
                              description: Session identifier
                        created_at:
                          type: integer
                          description: Creation time
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'
        '500':
          $ref: '#/components/responses/Error500'

